<input type="hidden" name="dept.id" id="id_update" value="${info?.id}"/>
<div class="control-group">
	<label class="control-label">名称</label>
	<div class="input-append">
		<input class="span4" type="text" name="dept.name" id="name_update" value="${info?.name}">
	</div>
</div>
<div class="control-group">
   <label class="control-label">介绍</label>
   <div class="input-append">
  	   <input class="span4" type="text" name="dept.introduction" value="${info?.introduction}">
   </div>
</div>
