<!-- Side menu -->
<style>
.submenu{
	padding-left: 10px;
}
</style>
<div class="sidebar-nav nav-collapse collapse">
	<div class="user_side clearfix hide">
		<img src="/public/assets/img/odinn.jpg" alt="Odinn god of Thunder">
		<h5>标题</h5>
		<a href="#">
			<i class="icon-cog"></i> 用户设置
		</a>
	</div>
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle b_9FDDF6 ${request.controller!='UserManage'?'collapsed':'active'}" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">
					<i class="icon-user"></i>
					<span>用户管理</span>
				</a>
			</div>
			<div id="collapse10" class="accordion-body ${request.controller!='UserManage'?'':'in'} collapse">
				<div class="accordion-inner submenu">
					<a class="accordion-toggle ${request.url=='/user'?'active':''}" href="/user">
						<i class="icon-th-list"></i> 用户信息
					</a>
					<a class="accordion-toggle ${request.url=='/department'?'active':''}" href="/department">
						<i class="icon-th-large"></i> 年费价格
					</a>
					<a class="accordion-toggle ${request.url=='/department'?'active':''}" href="/department">
						<i class="icon-upload"></i> 授权日期
					</a>
					<a class="accordion-toggle ${request.url=='/department'?'active':''}" href="/department">
						<i class="icon-edit"></i> 充值记录
					</a>
				</div>
			</div>
		</div>
		
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle b_9FDDF6 ${request.controller!='TaskManage'?'collapsed':'active'}" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
					<i class="icon-tasks"></i>
					<span>代理商管理</span>
				</a>
			</div>
			<div id="collapse11" class="accordion-body ${request.controller!='TaskManage'?'':'in'} collapse">
				<div class="accordion-inner submenu">
					<a class="accordion-toggle ${request.url=='/task_page'?'active':''}" href="/task_page">
						<i class="icon-th-list"></i> 代理商信息
					</a>
					<a class="accordion-toggle ${request.url=='/addTaskPage'?'active':''}" href="/addTaskPage">
						<i class="icon-globe"></i> 代理商充值汇总
					</a>
				</div>
			</div>
		</div>
		
		
	</div>
</div>
<!-- /Side menu -->