<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/public/lib/jquerymobile/jquery.mobile-1.4.5.css">
<link rel="stylesheet" href="/public/stylesheets/main.css">
<script src="/public/lib/jquerymobile/jquery.js"></script>
<script src="/public/lib/jquerymobile/jquery.mobile-1.4.5.js"></script>
<script src="/public/javascripts/custom.js"></script>
</head>
<body>
	<div data-role="page" id="pageone">
		<div data-role="header" style="background-color: #191970" data-position="fixed">
			<h1 id="titlename" class="title_text_color">登录</h1>
		</div>
		<div data-role="main" class="ui-content">
			<form  method="post" id="loginform">
				<input type="text" name="username" id="username" placeholder="请输入用户名..." value="test"> 
				<input type="password" name="password" id="password" placeholder="请输入密码..." value="test"> 
				<input type="button" id="loginbtn" value="登录" onclick="login()"> 
				<a href="#pagetwo" data-role="button" data-transition="slide" >注册</a>
			</form>
		</div>
	</div>

	<div data-role="page" id="pagetwo">
		<div data-role="header" style="background-color: #191970" data-position="fixed">
			<h1 id="titlename" class="title_text_color">注册</h1>
		</div>

		<div data-role="main" class="ui-content">
			<form  method="post" id="rform">
				 <input type="text" name="rname" id="rname" placeholder="请输入用户名...">
				 <input type="text" name="shopid" id="shopid" placeholder="请输入代理商ID..."> 
				 <input type="password" name="rpass" id="rpass" placeholder="请输入密码..."> 
				 <input type="password"	name="againpassword" id="againpassword" placeholder="请再次输入密码...">
				 <input type="button" id="rbtn" value="注册" onclick="register()"> 
			</form>
		</div>
	</div>
	
</body>
</html>
