<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/public/lib/jquerymobile/jquery.mobile-1.4.5.css">
<link rel="stylesheet" href="/public/stylesheets/main.css">
<script src="/public/lib/jquerymobile/jquery.js"></script>
<script src="/public/lib/jquerymobile/jquery.mobile-1.4.5.js"></script>
</head>

<body>
	<div data-role="page" id="pageone">
		<div data-role="header" style="background-color: #191970" >
			<h1 id="titlename" class="title_text_color">登录</h1>
		</div>
		<div data-role="main" class="ui-content">
			<input
				type="text" name="username" id="username" placeholder="请输入用户名...">
			<input
				type="text" name="password" id="password" placeholder="请输入密码...">
			<input type="button" value="登录">
			<a href="#pagetwo" data-role="button" data-transition="slide" >注册</a> 
		</div>
	</div>

	<div data-role="page" id="pagetwo">
		<div data-role="header" style="background-color: #191970">
			<h1 id="titlename" class="title_text_color">注册</h1>
		</div>

		<div data-role="main" class="ui-content">
			<input
				type="text" name="username" id="username" placeholder="请输入用户名...">
		    <input
				type="text" name="password" id="password" placeholder="请输入密码...">
			<input
				type="text" name="againpassword" id="againpassword" placeholder="请再次输入密码...">
		    <a href="#pageone" data-role="button" data-transition="slide" >注册</a> 
		</div>
	</div>
</body>
</html>
