<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/public/lib/jquerymobile/jquery.mobile-1.4.5.css">
<link rel="stylesheet" href="/public/stylesheets/main.css">
<script src="/public/lib/jquerymobile/jquery.js"></script>
<script src="/public/lib/jquerymobile/jquery.mobile-1.4.5.js"></script>
<script src="/public/javascripts/Chart.js"></script>
<script src="/public/javascripts/custom.js"></script>
</head>
<body>
	<div data-role="page" id="fouthpage">
    <script src="/public/echarts_mobile/js/dist/echarts.js"></script>
		<div data-role="header" style="background-color: #191970" data-position="fixed">
			<a href="#reportpage">返回</a>
			<h1 id="titlename" class="title_text_color">付款方式统计</h1>
		</div>
		<div data-role="main" class="ui-content">
			<div id="content">
				<input type="hidden" id="num1" value="${num1}">
				<input type="hidden" id="num2" value="${num2}">
				<input type="hidden" id="num3" value="${num3}">
				<input type="hidden" id="num4" value="${num4}">
	            <div id="showBar" class="show" style="width:400px;height:400px"></div>
			<script type="text/javascript">
			require.config({
			    paths:{ 
			        echarts: '/public/echarts_mobile/js/dist',
			    }
			});
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/pie' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('showBar')); 
                
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['现金支付','免单','其他付款','员工餐']
                    },
                     series : [
				        {
				            name:'付款方式',
				            type:'pie',
				            radius : '55%',
				            center: ['50%', '60%'],
				            data:[{name:'现金支付',value:$("#num1").val()},
				            	{name:'免单',value:$("#num2").val()},
				            	{name:'其他付款',value:$("#num3").val()},
				            	{name:'员工餐',value:$("#num4").val()}
				            ]
				        }
				    ]
                };
                // 为echarts对象加载数据 
                myChart.setOption(option); 
				   resize();
                 window.onresize = function(){
				   resize();
	            }
	            function resize(){
	            	var height = document.documentElement.clientHeight - 50 + 'px';
				    var width = document.documentElement.clientWidth + 'px';
				    $('#content').height(height).width(width);
				    $('.show').height(document.documentElement.clientHeight - 65 + 'px').width(width);
				    myChart && myChart.resize();
	            }
            }
        );
    </script>
			</div>
		</div>
	</div>
</body>
</html>
