<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="/public/lib/jquerymobile/jquery.mobile-1.4.5.css">
<link rel="stylesheet" href="/public/stylesheets/main.css">
<script src="/public/lib/jquerymobile/jquery.js"></script>
<script src="/public/lib/jquerymobile/jquery.mobile-1.4.5.js"></script>
<script src="/public/javascripts/Chart.js"></script>
<script src="/public/javascripts/custom.js"></script>
</head>
<body>
	<div data-role="page" id="fouthpage">
    <script src="/public/echarts_mobile/js/dist/echarts.js"></script>
		<div data-role="header" style="background-color: #191970" data-position="fixed">
			<a href="#reportpage">返回</a>
			<h1 id="titlename" class="title_text_color">月营业走势</h1>
		</div>
		<div data-role="main" class="ui-content">
			<div id="content">
				<input type="hidden" id="show1" value="${one}">
				<input type="hidden" id="show2" value="${two}">
				<input type="hidden" id="show3" value="${three}">
				<input type="hidden" id="show4" value="${four}">
	            <div id="showBar" class="show" style="width:400px;height:400px"></div>
			<script type="text/javascript">
			require.config({
			    paths:{ 
			        echarts: '/public/echarts_mobile/js/dist',
			    }
			});
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('showBar')); 
                
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['客单数','来客数','销售额']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : [$("#show1").val()]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"客单数",
                            "type":"line",
                            "data":[$("#show2").val()]
                        },
                         {
                            "name":"来客数",
                            "type":"line",
                            "data":[$("#show3").val()]
                        },
                         {
                            "name":"销售额",
                            "type":"line",
                            "data":[$("#show4").val()]
                        }
                    ]
                };
                // 为echarts对象加载数据 
                myChart.setOption(option); 
				   resize();
                 window.onresize = function(){
				   resize();
	            }
	            function resize(){
	            	var height = document.documentElement.clientHeight - 50 + 'px';
				    var width = document.documentElement.clientWidth + 'px';
				    $('#content').height(height).width(width);
				    $('.show').height(document.documentElement.clientHeight - 65 + 'px').width(width);
				    myChart && myChart.resize();
	            }
            }
        );
    </script>
			</div>
		</div>
	</div>
</body>
</html>
