<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
	href="/public/lib/jquerymobile/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" href="/public/stylesheets/main.css">
    <link rel="stylesheet" href="/public/pickadate/themes/default.css" id="theme_base">
	<link rel="stylesheet" href="/public/pickadate/themes/default.date.css" id="theme_date">
	<link rel="stylesheet" href="/public/pickadate/themes/default.time.css" id="theme_time">
	<script src="/public/lib/jquerymobile/jquery.js"></script>
	<script src="/public/lib/jquerymobile/jquery.mobile-1.4.5.js"></script>
	<script src="/public/javascripts/custom.js"></script>
    <script src="/public/echarts_mobile/js/dist/echarts.js"></script>
    <script src="../public/pickadate/jquery.1.7.0.js"></script>
    <script src="../public/pickadate/picker.js"></script>
    <script src="../public/pickadate/picker.date.js"></script>
    <script src="../public/pickadate/picker.time.js"></script>
    <script src="../public/pickadate/legacy.js"></script>
	
</head>

<body>
	<div data-role="page" id="pagestore">
		<div data-role="header" style="background-color: #191970" data-position="fixed">
			<h1 id="titlename" class="title_text_color">门店管理</h1>
		</div>
		<div data-role="main" class="ui-content">
			<fieldset data-role="controlgroup" id="showlist">
			#{if store.size()==0}
		      <legend>暂无门店列表</legend>
			#{/if}
			#{else}
		      <legend>请选择门店：</legend>
			#{/else}
				#{list items:store,as:'onestore'}
			        <label for="store_${onestore.id}">${onestore.sName}</label>
			        #{if store.get(0)==onestore}
			        <input type="radio" name="store" checked="checked" id="store_${onestore.id}" value="${onestore.id}" attrname="${onestore.sName}" attrdog="${onestore.dogId}">
			        #{/if}
			        #{else}
			        <input type="radio" name="store" id="store_${onestore.id}" value="${onestore.id}" attrname="${onestore.sName}" attrdog="${onestore.dogId}">
			        #{/else}
				#{/list}
		      </fieldset>
		</div>
		 <div data-role="popup" id="addStore" class="ui-content" style="min-width:250px;">
		      <form method="post" id="addform">
				 <div data-role="header" style="background-color: #191970" >
					<h3 id="storetitle" class="title_text_color">添加门店</h3>
				</div>
		        <div>
		          <input type="hidden" name="us_id" id="us_id" value="-1">
		          <input type="text" name="s_name" id="s_name" placeholder="请输入门店名称">
		          <input type="text" name="dog_id" id="dog_id" placeholder="请输入加密狗号码">
		          <input type="password" name="pswd" id="pswd" placeholder="请输入登录密码">
		          <input type="button" id="addbtn" value="确定" data-rel="back" onclick="addStore()">
		        </div>
		      </form>
		    </div>
		<div data-role="footer" style="text-align:center;" data-position="fixed">
		  <div data-role="controlgroup" data-type="horizontal">
		    <a href="#reportpage" class="ui-btn ui-icon-grid ui-btn-icon-left">门店报表</a>
		    <a href="#" data-rel="popup" class="ui-btn ui-icon-plus ui-btn-icon-left" onclick="showAdd()">新增</a>
		    <a href="#" data-rel="popup" class="ui-btn ui-icon-delete ui-btn-icon-left" onclick="showDelete()">删除</a>
		    <a href="#" class="ui-btn ui-icon-edit ui-btn-icon-left" onclick="showUpdate()">修改</a>
		  </div>
		</div> 
	</div>
		<div data-role="page" id="reportpage">
			<div data-role="header" style="background-color: #191970" data-position="fixed">
				<a href="#pagestore">返回</a>
				<h1 id="titlename" class="title_text_color">门店营运助理</h1>
			</div>
		  <div data-role="main" class="ui-content">
		  <input
                    id="input_01"
                    class="datepicker"
                    name="date"
                    type="text"
                    value="14 August, 2014"
                    data-valuee="2014-08-08">
		    <ul data-role="listview" data-inset="true">
		      <li>
		        <a href="#" onclick="check(71)" data-ajax=“false”>
		        <img src="/public/images/1.jpg">
		        <h2>门店营业概况</h2>
		        <p>包括营业汇总，交款及收银支付等信息</p>
		        </a>
		      </li>
		      <li>
		        <a href="#" onclick="check(65)">
		        <img src="/public/images/2.jpg">
		        <h2>大类销售统计</h2>
		        <p>大类/小类-销售数量及金额分组统计</p>
		        </a>
		      </li>
		      <li>
		        <a href="#" onclick="check(66)">
		        <img src="/public/images/3.jpg">
		        <h2>类别销售统计</h2>
		        <p>大类、小类、数量、金额，文本样式</p>
		        </a>
		      </li>
		      <li>
		        <a href="#" onclick="check(70)">
		        <img src="/public/images/9.jpg">
		        <h2>月营业走势</h2>
		        <p>日期、客单数、来客数、销售额</p>
		        </a>
		      </li>
		      <li>
		        <a href="#" onclick="check(67)">
		        <img src="/public/images/5.jpg">
		        <h2>付款方式统计</h2>
		        <p>付款方式、金额，饼图</p>
		        </a>
		      </li>
		      <li>
		        <a href="#" onclick="check(68)">
		        <img src="/public/images/8.jpg">
		        <h2>单品销售排行</h2>
		        <p>品名、数量、金额、占比，文本样式</p>
		        </a>
		      </li>
		      <li>
		        <a href="#" onclick="check(69)">
		        <img src="/public/images/7.jpg">
		        <h2>门店销售排行</h2>
		        <p>店名、客单数、销售金额</p>
		        </a>
		      </li>
		    </ul>
		  </div>
		</div>
		<script type="text/javascript">

			 var $input = $( '.datepicker' ).pickadate();

        var picker = $input.pickadate('picker')
			
			</script>
</body>

</html>
		  